<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>
        SpreadJS Server
    </title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="ss"></div>
    <script src="/server_view.js"></script>
    <script src="/view.js"></script>
</body>

</html>