table {
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 14px;
    width: 100%;
    max-width: 100%;
    outline: none;
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    outline: none;
}

th {
    background-color: #eee;
}

td:focus {
    outline: 1px solid darkcyan;
    background-color: lightgreen !important;
}

td:hover {
    background-color: lightblue;
}